body {
  background: url(./background.png);
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #8BDCF5;
  text-decoration: none;
}

a p {
  border-bottom: 1px solid transparent;
  display: inline-block;
}

a:hover p {
  border-bottom: 1px solid #009ACA;
  transition: border-bottom .5s ease;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h2 {
  color: #FFEEB9;
  font-size: 36px;
  font-weight: normal;
  margin: .75rem 0 .5rem 0;
  text-align: center;
}

img.andrew {
  border-radius: 10px;
  height: 300px;
}

.header h3 {
  color: #FFEEB9;
  font-size: 24px;
  font-weight: normal;
  margin: .5rem 0 .75rem 0;
}

div.shadowBox {
  background: rgba(88, 88, 88, .5);
  border-radius: 20px;
  color: #FFFAEC;
  font-size: 16px;
  margin: 0 auto;
  max-width: 300px;
  padding: .25rem;
  text-align: center;
}

div.navigation {
  color: #8BDCF5;
  display: flex;
  font-size: 18px;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 350px;
  text-shadow: 2px 2px 1px black;
}

div.navigation p {
  cursor: pointer;
  margin: 1rem 0 0 0;
}

div.contact {
  color: #FFF;
  font-size: 16px;
  max-width: 350px;
  text-align: center;
}

div.contact p {
  margin: 0;
}

div.contact p.margin {
  margin-top: 1rem;
}

div.socials {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 350px;
}

div.socials a:hover {
  opacity: .75;
  transition: opacity .2s ease;
}

img.socials {
  cursor: pointer;
  height: 20px;
  padding: 15px;
}

img.medium {
  cursor: pointer;
  height: 30px;
  padding: 15px;
}

div.portfolio {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

div.proj {
  padding: 0 .5rem;
  width: 100%;
}

a.project {
  font-size: 24px;
  margin-top: 3rem;
}

a i {
  color: #FFEEB9;
  left: 1rem;
  position: relative;
  top: -3px;
}

i.smaller {
  font-size: 14px;
}

a.project p {
  margin-bottom: .5rem;
}

p.description {
  color: #FFF;
  font-size: 16px;
  margin: 0 auto 1rem auto;
  max-width: 350px;
}

@media (min-width: 325px) {
  div.shadowBox {
    max-width: 350px;
  }
  div.contact {
    margin: 0 auto;
  }
}

@media (min-width: 850px) {
  div.proj {
    width: 40%;
  }
}
